.icon-stats-bars:before { content: "\e99c";}
.icon-map:before {content: "\e94b";}

.icon {
	font-family: "icomoon" !important; 
	font-weight: normal !important;
    font-style: normal !important;
    font-size: 40px;
    color:#fff;
}


.icon:hover {
	color:#ff9900;

}