@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@imgPath : "";
@txtColor : #5d5d5d;

html, body {
  width:100%;
  height:100%;
}

p, h1 { margin: 0; }
h1 { margin-bottom: 0.2em; }
h2 {
  font-family: "Raleway";
  font-weight: 300;
}
p { line-height: 1.333em; }

.scroll-arrow {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 100px;
  bottom: 0px;
  margin-left: -50px;
  left: 50%;
}

.scroll-arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 51%;
  background: @txtColor;
  -webkit-transform: skew(0deg, 20deg);
  -moz-transform: skew(0deg, 20deg);
  -ms-transform: skew(0deg, 20deg);
  -o-transform: skew(0deg, 20deg);
  transform: skew(0deg, 20deg);
}
.scroll-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  width: 50%;
  background: @txtColor;
  -webkit-transform: skew(0deg, -20deg);
  -moz-transform: skew(0deg, -20deg);
  -ms-transform: skew(0deg, -20deg);
  -o-transform: skew(0deg, -20deg);
  transform: skew(0deg, -20deg);
}

/* full width/height container */
#slides-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* double the height/width of a viewport */
#slides {
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    margin-left: 50px;
    margin-top: 50px;
    position: fixed;

  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    color: @txtColor;
    h2 {
      font-size: 72px;
    }
  }
}
.slide {
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;
}
#slide-1 {
  background: url('@{imgPath}/pattern/pattern6.jpg') repeat;
  h1, p {
    color: @txtColor;
  }
  .caption {
    margin-left: -321.5px;
    margin-top: -79px;
  }
}
#slide-2 {
  background: url('@{imgPath}/bcg_slide-2.jpg') no-repeat center center;
  -webkit-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  transform: translate(0,100%);

  .caption {

    margin-left: -280px;
    margin-top: -79px;
  }

  .menubox {
    height: 800px;
    background-color: #000;
    padding-left: 90px;
    padding-right: 90px;
    .optContainer {
      display: inline-block;
      width: 580px;
      button {
        margin: 15px;
        width: 250px;
      }
    }
    h2 {
      font-size: 72px;
    }
  }

}

#slide-3 {
 // background: url('@{imgPath}/bcg_slide-3.jpg') no-repeat center center;
  -webkit-transform: translate(100%,100%);
  -ms-transform: translate(100%,100%);
  transform: translate(100%,100%);
}
#slide-3 .caption {
  left: 5%;
  right: auto;
  color: @txtColor;
}
#slide-4 {
 // background: url('@{imgPath}/bcg_slide-4.jpg') no-repeat center center;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  transform: translate(100%,0%);
}
#slide-4 .caption {
  right: auto;
  left: 5%;
  top: 5%;
  bottom: auto;
  color: @txtColor;
}

#helper {
  position:absolute;
  left:0;
  top: 0;
  height:600%;
  width: 0;
}
.marker {
  height: 25%;
  width: 100%;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
/*
#slides-container {
  #slides(data-0='transform:translate(0%,0%);', data-150p='', data-200p='transform:translate(0%,-50%);', data-300p='', data-350p='transform:translate(-50%,-50%);', data-450p='transform:translate(-50%,0%);')
    #slide-1.slide
      .logo
        img(src='img/logo/logitu.png', alt='')
      .caption(data-0p='opacity: 1; transform:translate(0px,0px);', data-50p='opacity: 0; transform:translate(0px,-100%);', data-anchor-target='#helper')
        h2
          | Ya dejalo!,
          br
          | no te hagas el weón
      .caption(data-60p='opacity: 0; transform:translate(-10px,0%);', data-120p='opacity: 1; transform:translate(0px,0px);', data-280p='opacity: 0; transform:translate(100px,0px);', data-anchor-target='#helper')
        h2 Sólo admitelo...
      .scroll-arrow
    #slide-2.slide
      .menubox.well-lg.col-lg-8.col-md-8.col-sm-8(data-210p='opacity: 0; transform:translate(30%,10%);', data-250p='opacity: 1; transform:translate(20%,10%);')
        h2 Eres un
        .optContainer
          button.btn.btn-lg Maricón
          button.btn.btn-lg Come guagua
          button.btn.btn-lg Comunacho
          button.btn.btn-lg Judío
          button.btn.btn-lg Nana
          button.btn.btn-lg Peruano
          button.btn.btn-lg liceano con nombre de misíl
          button.btn.btn-lg apatria
          button.btn.btn-lg testículo de jehova
          button.btn.btn-lg flaite
          button.btn.btn-lg pelusa
          button.btn.btn-lg fleto
          button.btn.btn-lg canuto
    #slide-3.slide
      .caption(data-250p='opacity: 0; transform:translate(300px,0px);', data-300p='opacity: 1; transform:translate(0px,0px);', data-anchor-target='#helper')
    #slide-4.slide
      .caption(data-430p='opacity: 0;', data-450p='opacity: 1;', data-anchor-target='#helper')
  #helper
    .marker.red
    .marker.green
    .marker.blue
    .marker.yellow
    }*/